@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color-primary: #ff6464;
  --color-secondary: #00a8cc;
}

body {
  color: black;
  min-height: 100vh;
  background-color: white;
}


@import url("./prism.css");